<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @enologo.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @enologo.edad %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @enologo.nacionalidad %>
</p>

<%= link_to 'Edit', edit_enologo_path(@enologo) %> |
<%= link_to 'Back', enologos_path %>
